# Dataset e imágenes pesadas
PlantVillage.zip
data/
plantvillage_outputs/
outputs/

# Entornos y archivos locales
.venv/
venv/
__pycache__/
.DS_Store
.ipynb_checkpoints/

# Borradores de trabajo (no son entregables)
preguntas_defensa_borrador.md
